// Variables
$light: #f7f7f8;
$semi-light: #bebec4;
$primary-color: #9c222c;
$secondary-color: #0e0b2c;
$tertiary-color: #2d0f49;
$black: #0c030a;
$primary-font: 'Source Sans Pro', sans-serif;
$icon-font: 'themefisher-font';
$secondary-font: 'Catamaran', sans-serif;
$color-background: #201244;
$color-background-transparent: rgba(32, 18, 68, 0.7);

$one: #0c030a;
$two: #5c0d13;
$three: #2d0f49;
$four: #f7f7f8;
$five: #5d5a63;
$six: #9e9ca4;
$seven: #673e71;
$eight: #5b2859;
