/*=================================================================
  Services section
==================================================================*/

.services {
  padding: 100px 0 130px;
  .service-block {
    &.color-bg {
      background-image: linear-gradient(
        to right top,
        #131218,
        #191729,
        #1f1b3a,
        #261f4c,
        #2f225e,
        #4c2567,
        #68286d,
        #832a71,
        #a63a6a,
        #c05362,
        #d1715f,
        #da9162
      );
      color: $light;
      i,
      h3,
      p {
        color: $light;
      }
    }
    .service-icon {
      margin-bottom: 30px;
    }
    i {
      font-size: 75px;
      color: $primary-color;
    }
    h3 {
      color: $light;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      font-size: 14px;
      color: $light;
    }
  }
}

/*=================================================================
  Services section 2
==================================================================*/

.service-2 {
  .service-item {
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 50px 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover {
      box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
    }
    &:hover i {
      background: $light;
      color: $primary-color;
    }
    i {
      font-size: 30px;
      display: inline-block;
      background-image: linear-gradient(
        to right,
        #64208f,
        #771b82,
        #841a75,
        #8d1e69,
        #92265f,
        #982a59,
        #9e2e54,
        #a2344e,
        #ab3648,
        #b43941,
        #bb3d39,
        #c0432f
      );
      border-radius: 30px;
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
      color: #fff;
      height: 55px;
      line-height: 55px;
      margin-bottom: 20px;
      width: 55px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  }
}
