/*=================================================================
  Testimonial section
==================================================================*/

.testimonial {
  padding-top: 100px;
  background-image: linear-gradient(
    to right top,
    #131218,
    #191729,
    #1f1b3a,
    #261f4c,
    #2f225e,
    #4c2567,
    #68286d,
    #832a71,
    #a63a6a,
    #c05362,
    #d1715f,
    #da9162
  );
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 30px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0;
    height: 150px;
    background-color: #1e1442;
  }
  .item {
    i {
      font-size: 60px;
      color: $light;
      margin-bottom: 50px;
      display: inline-block;
    }
    .client-details {
      padding-bottom: 30px;
      p {
        font-size: 17px;
        color: $light;
        font-weight: 200;
        padding: 0 10%;
      }
    }
    .client-thumb img {
      display: inline-block;
      border-radius: 100%;
      width: 150px;
      height: auto;
    }
  }
}
